In [9]:
import matplotlib as mp
import numpy as np
import openpyxl as openxl
import pandas as pd
import xlrd
import xlwt
import xlsxwriter as xlwt2

In [14]:
filePath = 'D:\Engineering\Data Science\Datasets\WEO\Total Reserves.xlsx'
totalReserves = pd.read_excel(filePath)
totalReserves.head()

,Angola,Albania,United Arab Emirates,Armenia,Developing Asia,Antigua and Barbuda,Australia,Austria,Azerbaijan,Burundi,...,St. Vincent and the Grenadines,"Venezuela, RB",Vietnam,Vanuatu,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990.0,NaN,NaN,NaN,NaN,71926.92,NaN,16369.89,9759.138,NaN,NaN,...,NaN,11759.0,NaN,NaN,1092366.0,NaN,NaN,954.7425,NaN,NaN
1991.0,NaN,NaN,NaN,NaN,98915.61,NaN,16641.63,10754.200,NaN,NaN,...,NaN,14105.0,NaN,NaN,NaN,NaN,NaN,1074.6780,NaN,NaN
1992.0,NaN,NaN,NaN,NaN,88529.90,NaN,11280.28,12889.010,NaN,NaN,...,NaN,13001.0,NaN,NaN,NaN,NaN,NaN,989.7752,NaN,NaN
1993.0,NaN,150.4163,NaN,NaN,112391.80,NaN,11173.59,15207.020,NaN,NaN,...,NaN,12656.0,NaN,NaN,1196040.0,NaN,NaN,792.6544,NaN,NaN

In [35]:
totalReserves_sheet1 = pd.read_excel(filePath, sheetname = 1, index_col =0)
totalReserves_all = pd.concat([totalReserves, totalReserves_sheet1])

In [36]:
print(totalReserves.shape)
print(totalReserves_sheet1.shape)
print(totalReserves_all.shape)

(31, 186)
(350, 186)
(381, 186)

In [38]:
totalReserves_all.tail()

,Angola,Albania,United Arab Emirates,Armenia,Developing Asia,Antigua and Barbuda,Australia,Austria,Azerbaijan,Burundi,...,St. Vincent and the Grenadines,"Venezuela, RB",Vietnam,Vanuatu,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
2018M09,15759.06,3611.64,NaN,2149.4,4148974.0,NaN,50709.77,12676.52,NaN,NaN,...,NaN,8451.0,NaN,NaN,11719390.0,159.5345,NaN,3416.942,1630.59,NaN
2018M10,NaN,3790.98,NaN,2082.9,4102429.0,NaN,42788.75,12517.59,NaN,NaN,...,NaN,8760.0,NaN,NaN,11627607.0,NaN,NaN,3450.939,1598.59,NaN
2018M11,NaN,3795.56,NaN,2117.8,4115063.0,NaN,45725.80,12243.65,NaN,NaN,...,NaN,8798.0,NaN,NaN,11678949.0,NaN,NaN,3594.877,NaN,NaN
2018M12,NaN,NaN,NaN,2249.3,4134967.0,NaN,51169.87,NaN,NaN,NaN,...,NaN,9170.0,NaN,NaN,NaN,NaN,NaN,3609.774,NaN,NaN
2019M01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
sorted_by_revenue = totalReserves_all.sort_values(['Angola'], ascending=False)
sorted_by_revenue["Angola"].head(10)

2013M09    34400.50
2013M05    34280.09
2013M10    34168.55
2013M07    34005.05
2013M08    33733.78
2013M04    33618.72
2013M11    33539.63
2013M06    33095.80
2013M03    32795.22
2013M02    32520.85
Name: Angola, dtype: float64